[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:athul/archie.git
[submodule "vendor/plex"]
	path = vendor/plex
	url = https://github.com/IBM/plex
[submodule "themes/segfault"]
	path = themes/segfault
	url = git@github.com:inverted-tree/segfault.git
